::-webkit-scrollbar {
	width: .5em;
}

::-webkit-scrollbar-track {
	background-color: grey;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(26, 26, 26);
}

#topBar {
	position: absolute;
	height: calc(100% - 130px);
	/* minus 130px from the full screen height to give space for launchBar */
	width: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
	overflow: auto;
}

#release~#release {
	/* Adds margin to the top of every each other 'release' div so you don't have to add it manually in the HTML */
	margin-top: 15px;
}

#added::before {
	content: "+\00a0\00a0 ";
	padding-left: 5px;
}

#removed::before {
	content: "-\00a0\00a0 ";
	padding-left: 5px;
}

main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 550;
	overflow: auto;
	position: absolute;
	overflow: auto;
	height: calc(100% - 60px - 30px);
	width: 100%;
	z-index: -1;
	/* Puts the div under the minimize button so It can be clicked */
}

main>div {
	padding: 20px;
	margin-bottom: 60px;
}

:root {
	--mainTheme: #FF7A38;
	--secondary: #b63d00;
}

#launchArea {
	background: black;
	box-shadow: 5px 10px 18px rgba(50, 50, 50, 0.3);
	bottom: 0;
	width: 100%;
	position: fixed;
	height: 60px;
	/* border-top: 3px solid var(--secondary); */
}

#launchBar {
	position: fixed;
	left: 90px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	/* background: repeating-linear-gradient(-60deg, grey, darkgrey 90px, darkgrey 90px, grey 340px); */
	background: grey;
	background: repeating-linear-gradient(-45deg, #191919, #191919 35px, #2d2d2d 35px, #2d2d2d 70px);
}

#launchBarProgress {
	width: 0%;
	left: 90px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	/* background: repeating-linear-gradient(-60deg, var(--mainTheme), var(--mainTheme) 90px, var(--secondary) 90px, var(--secondary) 90px); */
	/* background: repeating-linear-gradient(-45deg, var(--mainTheme), var(--mainTheme) 35px, var(--secondary) 35px, var(--secondary) 70px); */
	background: var(--mainTheme);
}

#headerBar {
	position: fixed;
	top: 0px;
	height: 25px;
	width: 100%;
	-webkit-app-region: drag;
}

#minimize {
	width: 30px;
	height: 30px;
	font-weight: bold;
	-webkit-app-region: no-drag;
	transition: all 0.2s;
}

#close {
	width: 30px;
	height: 30px;
	font-weight: bolder;
	-webkit-app-region: no-drag;
	transition: all 0.2s;
}

#close:hover {
	color: red;
	transition: all 0.2s;
}

#settingsButton {
	position: fixed;
	background-color: transparent;
	border: none;
	width: 20px;
	height: 20px;
	font-size: 17px;
	font-weight: bold;
	-webkit-app-region: no-drag;
	color: white;
	width: 30px;
	height: 30px;
	left: 0;
	margin-top: 5px;
	margin-left: 5px;
	transition: all 0.2s;
}

#minimize:hover, #settingsButton:hover {
	color: grey;
	transition: all 0.2s;
}

#settingsButton:hover {
	color: grey;
}

#account {
	position: relative;
	border: none;
	background-color: transparent;
	-webkit-app-region: no-drag;
}

#account:hover {
    transition: all 0.2s;
	color: var(--mainTheme);
}

#launchButton {
	background-color: var(--mainTheme);
	width: 90px;
	height: 60px;
	position: fixed;
	bottom: 0px;
	border: 0px;
	/* border-radius: 2px; */
	text-align: center;
	font-weight: bold;
	border-color: black;
	font-size: 22px;
	color: white;
	font-weight: bold;
	box-shadow: 5px 10px 18px rgba(50, 50, 50, 0.3);
	transition: all 0.2s;
}

#launchButton:hover {
	transition: all 0.2s;
	background-color: var(--secondary);
}

/* Style the tab */

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tab {
	margin-top: 30px;
	overflow: hidden;
}

/* Style the buttons inside the tab */

.tab button {
	width: calc(100%/3);
	background-color: inherit;
	float: left;
	border: none;
	border-bottom: 3px solid rgba(107, 107, 107, 1);
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	color: white;
}

/* Change background color of buttons on hover */

.tab button:hover {
	border-bottom: 3px solid white;
}

/* Create an active/current tablink class */

.tab button.active {
	border-bottom: 3px solid white;
}

/* Style the tab content */

.tabcontent {
	display: none;
	animation: fadeEffect 0.4s;
}