ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#cancel {
	background-color: grey;
	width: 70px;
	height: 30px;
	margin-top: 10px;
	border: 0cm;
	border-radius: 2px;
	bottom: 5px;
	text-align: center;
	font-weight: 300;
	border-color: grey;
	font-size: 17px;
	color: white;
}

#apply {
	background-color: grey;
	width: 70px;
	height: 30px;
	margin-top: 10px;
	bottom: 5px;
	border: 0cm;
	border-radius: 2px;
	text-align: center;
	font-weight: 300;
	border-color: grey;
	font-size: 17px;
	color: white;
}

.container2 {
	bottom: 5px;
	right: 5px;
	position: fixed;
}

.container {
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	top: 0;
	left: 0;
	height: 21px;
	width: 21px;
	background-color: #eee;
	border-radius: 50%;
}

.container:hover input ~ .checkmark {
	background-color: #ccc;
}

.container input:checked ~ .checkmark {
	background-color: orange;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
