ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container2 {
	bottom: 0px;
	right: 0px;
	height: 40px;
	width: 100%;
	position: fixed;
	padding: 0px;
}

#cancel {
	background-color: grey;
	width: 50%;
	height: 40px;
	margin-top: 10px;
	bottom: 0px;
	border: 0cm;
	text-align: center;
	font-weight: 300;
	border-color: none;
	font-size: 17px;
	color: white;
	-webkit-app-region: no-drag;
	position: absolute;
	font-weight: bold;
	transition: all 0.2s;
}

#cancel:hover {
	transition: all 0.2s;
	background-color: darkgrey;
}

#apply {
	background-color: #FF7A38;
	width: 50%;
	height: 40px;
	margin-top: 10px;
	bottom: 0px;
	right: 0;
	border: 0cm;
	text-align: center;
	font-weight: 300;
	border-color: none;
	font-size: 17px;
	color: white;
	-webkit-app-region: no-drag;
	position: absolute;
	font-weight: bold;
	transition: all 0.2s;
}

#apply:hover {
	transition: all 0.2s;
	background-color: orange;
}

.container {
	margin: 10px;
	padding-top: 5px;
	padding-left: 5px;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-app-region: drag;
}

#close {
	display: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	-webkit-app-region: no-drag;
}

.checkmark {
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	top: 0;
	left: 0;
	height: 21px;
	width: 21px;
	background-color: #eee;
	border-radius: 50%;
	-webkit-app-region: no-drag;
}

.container:hover input~.checkmark {
	background-color: #ccc;
}

.container input:checked~.checkmark {
	background-color: #FF7A38;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked~.checkmark:after {
	display: block;
}

.container .checkmark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}