:root {
    --mainTheme: #ffa500;
    --secondary: #ffba3b;
}

* {
    margin: 0;
}

body {
    text-align: center;
    color: white;
    background-color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    padding: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: color 0.5s;
}

a:hover {
    color: var(--secondary);
}

button {
    padding: 10px 50px 10px 50px;
    background-color: var(--mainTheme);
    font-size: 22px;
    font-weight: bold;
    color: white;
    border: 0;
    transition: background-color 0.5s;
}

button:hover {
    background-color: var(--secondary);
}

input {
    padding: 10px;
    margin-bottom: 10px;
    background: black;
    color: white;
    outline: 0;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #3a3a3a;
    opacity: 0.7;
    transition: border-color 0.5s;
}

input:hover {
    border-color: #5a5a5a;
}

input:focus {
    border-color: #5a5a5a;
}

.relative {
    position: relative;
}

.message {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 350px;
}

.message .title {
    color: #ffffff;
}

.message .subtitle {
    color: #8a8a8a;
}

.invalid {
    animation: fade 3s ease;
}

@keyframes fade {
    from {
        border-color: #ff0000;
    }
    to {
        transform: #3a3a3a;
    }
}

#serverMessage {
    visibility: hidden;
    padding: 10px;
}