* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #f7f7f7;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(145deg, #111, black);
}

.modal {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h1 {
    text-align: center;
    padding-top: 10px;
}

.form-container {
    width: 80%;
    padding-bottom: 10px;
}

.message {
    padding: 10px;
}

.message .title {
    width: 300px;
    color: #f7f7f7;
}

.message .subtitle {
    color: #8a8a8a;
}

.container-input {
    display: flex;
}

.container-input input {
    min-width: 100%;
}

.form-container input, .form-container button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin: 8px 0px;
    border: 2px solid #111;
    outline: none;
    background: linear-gradient(145deg, black, #111);
    color: #f7f7f7;
}

button {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #f7f7f780;
    color: #111;
}

@media only screen and (max-width: 768px) {
    .modal {
        width: 100%;
    }
    .container-input {
        display: initial;
    }
    .message {
        padding: 10px 0px;
        position: inherit;
        transform: translateX(0%);
    }
}

.invalid {
    animation: fade 3s ease;
}

@keyframes fade {
    from {
        border-color: #ff0000;
    }
    to {
        transform: #3a3a3a;
    }
}

#serverMessage {
    visibility: hidden;
    padding: 10px;
}